/* ESTILOS PERSONALIZADOS */

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.espacio{
    height: 30px;
}

.opt-menu:hover{
    background-color: #212121;
}

.opt-menu:hover a{
    color: #26c6da;
}

.header-global{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    position: relative;
    width: 100%;
    height: 100%;
}

.header-particles{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.txtCursor{
    font-weight: lighter;
    opacity: 0.6;
}

.h1-sm{
    font-size: 3.0em;
}

.subtitulo{
    font-variant: small-caps;
    font-size: 2.0em;
}

.social-link:hover{
    /* color: #eceff1 !important; */
    color: #fffde7 !important;
}

.external-link:hover{
    color: #ffe082 !important;
}

.img-bw{
    filter: grayscale(0%);
}

.img-tech{
    max-height: 250px;
}

/* ESTILOS PARA LA GALERIA */
.overlay-container {
    position: relative;
    width: 100%;
    height: 250px;
    overflow: hidden;
    margin: 0.8em 0 0.8em 0;
}
.overlay-image {
    display: block;
    width: 100%;
    height: auto;
}
.overlay-content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
}
.overlay-container:hover .overlay-content {
    opacity: 1;
}
.overlay-text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}